

<form action="result" method="post">
    <input type="text" name="Yourname"/>
<br>
    <select name = "Cities">
  <option value="Seattle">Seattle</option>
  <option value="Chicago">Chicago</option>
  <option value="Dallas">Dallas</option>
  <option value="San Jose">San Jose</option>
    
  <br>
</select>
<br>
    <select name = "Languages">
  <option value="Python">Python</option>
  <option value="C#">C#</option>
  <option value="English">English</option>
  <option value="Sign Language">Sign Language</option>
  </select>
  <br>
    <input type="text" name="Comment"/>
 <button type="submit">Submit</button>

</form>