<h1>Submitted Info</h1>

<h1> Your name : @ViewBag.name</h1>
<h1>Dojo Location :@ViewBag.city</h1>
<h1>Favorite Language :@ViewBag.language</h1>
<h1>Comment @ViewBag.comment</h1>

<br><a href="/">Go back</a>