<a href="/">Home</a>
<a href="/projects">Projects</a>
<a href="/contact">Contacts</a>

<h1>This is page 3!</h1>


<div class="block1">
<div class="block2">  
<select id="from" size="10" multiple="">

<option img src="/images/magic.png" alt="Dark_Magician"> </option>
<option value="29c" title="Sample 1">Sample 1</option>
<option value="34c" title="test">test</option>
<option value="59c" title="Course with assignment and face to face activity">Course with assignment and face to face activity</option>
<option value="72c" title="hindi "subject"">hindi "subject"</option>
<option value="73c" title="maths "practical"">maths "practical"</option>
<option value="123c" title=" Inserting Todayäó»s Date"> Inserting Todayäó»s Date</option>
<option value="126c" title="Social Forum Course">Social Forum Course</option>
<option value="170c" title="Platinum 4000">Platinum 4000</option>
<option value="59c" title="Course with assignment and face to face activity">Course with assignment and face to face activity</option>
<option value="72c" title="hindi "subject"">hindi "subject"</option>
<option value="73c" title="maths "practical"">maths "practical"</option>
<option value="123c" title=" Inserting Todayäó»s Date"> Inserting Todayäó»s Date</option>
<option value="126c" title="Social Forum Course">Social Forum Course</option>
<option value="170c" title="Platinum 4000">Platinum 4000</option>
</select>




<select id="from" style="margin-right:-17px;"></select>
</div></div>

<style>
.block1 {
max-width: 300px;
max-height: 300px;
overflow:scroll;
display: block;
border: 1px solid #ccc;
}

.block2 {
display: inline-block;
vertical-align: top;
overflow: hidden;
border-right: 1px solid #a4a4a4;
}

#from {
width: auto !important;
min-width:305px;
border : none !important;
}
</style>