<a href="/">Home</a>
<a href="/projects">Projects</a>
<a href="/contact">Contacts</a>






        <div class="name">
            <form action="/" method="POST">
                <p class="name" >Name: <input type="text" name="message" value=""></p>
                <p class="name" >Email: <input type="text" name="message" value=""></p>
                <p class="name" >message: <input type="text" name="message" value=""></p>
                <input type="submit" name="send" value="send" class="button">
            </form>
        </div>



















<h1>This is my page2!</h1>

<h1>HELLO GUYS!</h1>


